@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Urbanist", sans-serif;
}
.mobile-nav{
  color:#5864ac;
  font-weight: 500;
}
.hero {
  background-image: url(img/onama-3.png);
  background-size: cover;
  background-position: center;
}
.hero .header .nav p {
  color: #5864ac;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.5s ease;
}
.hero .header .nav p:hover {
  color: white;
}
.hero .hero-section h1, .hero .hero-section .motive {
  color: #5864ac;
}
.hero .hero-section .btn-section button {
  background-color: #5864ac;
  color: white;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.hero .hero-section .btn-section button:hover {
  background-color: #4a59b0;
}

.content-card{
    background-color:#5864ac;
}
.btn-white p{
    color:#5864ac;
}

.footer{
  background-color: #5864ac;
}

@media(max-width:640px){
  .hero {
    background-image: url(img/onama-3.png);
    background-size: cover;
    background-position: 75%;
  }
}

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffff; 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #5864ac;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
