@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

body{
    font-family: "Urbanist", sans-serif;
}
.mobile-nav{
    color:#5864ac;
    font-weight: 500;
}
.btn-blue{
    background-color: #5f6dbd;
}
.hero{
    background-image:
    url(./img/onama-3.png);
    background-size: cover;
    background-position: center;

    .header{

        .nav{
            p{
                color:#5864ac;
                text-transform: uppercase;
                font-weight: bold;
                transition: all 0.5s ease; 

                &:hover{
                    color:white;
                }
            }
        }
    }
    .hero-section{
        h1, .motive{
            color:#5864ac;
        }

        .btn-section{
            button{
                background-color: #5864ac;
                color:white;
                text-transform: uppercase;
                transition: all 0.5s ease;

                &:hover{
                    background-color:#4a59b0;
                }
            }
        }
    }
}
.usluge-cards{
    background-color: #5864ac;
}
.footer{
    background-color: #5864ac;
}

.contact-logo{
    width: 36px;
    height: auto;
}
.contact-card{
    border-right: 1px solid #5864ac;
}
.contact-card:nth-last-child(1){
    border:none;
}
.hero-usluge {
    background-image: url(img/onama-3.png);
}

@media (max-width:1024px){
    .contact-card{
        &:nth-child(2){
            border:none;
        }
    }
}
@media (max-width:640px){
    .contact-card{
        border:none;
    }
    .hero {
        background-position: 75%;
      }
}
